ul {
    color: blue;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul > li {
    border: 2px solid gray;
    margin: 10px;
    width: 150px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}